Django==5.0.3
djangorestframework==3.14.0
django-filter==23.5
django-cors-headers==4.3.1
django-environ==0.11.2
django-parler==2.3
django-parler-rest==2.2
django-prose-editor[sanitize]==0.13.0
psycopg[binary]==3.1.18
Pillow==10.2.0
python-decouple==3.8

# Real-time functionality
django-eventstream==4.5.1
redis==5.0.1
django-redis==5.4.0
channels-redis==4.1.0
celery==5.3.6
daphne==4.0.0
django-ratelimit==4.1.0

# Development
django-debug-toolbar==4.3.0
black==24.2.0
isort==5.13.2

# Production
gunicorn==21.2.0
whitenoise==6.6.0 